parameters:
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#will always evaluate to true#'
            path: tests/*
        -
            message: '#Parameter \#\d+ \$\w+ of method [\w\\]+::\w+\(\) expects .* given#'
            path: tests/*
    treatPhpDocTypesAsCertain: false
